---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
import Skills from "../components/Skills.astro"
---

<Layout
  title="Porfolio de Natalio Di Giacomo - Desarrollador y Programador Web Frontend"
  description="Contrata a Natalio Di Giacomo para crear tu aplicación web Frontend. Desarrollador Web."
>
  <main class="px-4">
    <SectionContainer id="inicio" class=" py-40">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-2 lg:pb-4"
      >
        Natalio Di Giacomo<a
          href="https://www.linkedin.com/in/natalio-di-giacomo/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] dark:text-[#061d0f] text-[#5ed150]">
        Desarrollador Frontend
      </h2>
      <p class="text-base mb-4 text-pretty py-2">
        Como autodidacta en el desarrollo web y el deseo de conocimiento, me adentré en el mundo de la programación.
        <br>
        Mi habilidad para enfrentar nuevos conceptos y tecnologías, es una prueba de mi dedicación al crecimiento continuo.
        <br>
        Apasionado por la escritura de código limpio y eficiente para construir interfaces web modernas y visualmente atractivas.
      </p>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/natalio-di-giacomo/">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/NatalioDev">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:nataliodg.dev@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          nataliodg.dev@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Skills
      </h2>
      <Skills/>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
